<% layout('../common/layout') %>

<script>
  function update(id) {
    return function() {
      var el = window[id];
      el.innerHTML = 'true';
      el.classList.add('in');
      setTimeout(el.classList.add.bind(el.classList, 'out'));
    };
  }

  document.addEventListener('DOMContentLoaded', update('domContentLoaded'));
  window.addEventListener('load', update('load'));
</script>

<section>
  <p>This is a synthetic HTTP <%= status %> response.</p>
  <hr>
  <p>
    Have the following events fired?<br>
    (2s) <code>document.DOMContentLoaded</code>: <i id="domContentLoaded" class="highlight">false</i><br>
    (6s) <code>window.load</code>: <i id="load" class="highlight">false</i>
  </p>
  <hr>
  <p><a href=".">Return to instructions</a></p>
</section>

<!-- SPLIT -->
<img class="invisible" src="slow.gif">
