<% layout('../common/layout') %>
<% var VERBS = ['GET', 'POST'] %>
<% var REDIRECTS = [301, 302, 303, 307, 308] %>

<script>
  function xhr(method, url, headers, credentials, fn) {
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status >= 200 && xhr.status < 300){
          fn(null, JSON.parse(xhr.response));
        } else {
         fn({status: xhr.status}, JSON.parse(xhr.response));
        }
      }
    }

    var open = [method, url, true];
    if (typeof credentials === 'function') {
      fn = credentials;
    } else if (credentials) {
      open.push(credentials.user);
      open.push(credentials.password);
    }
    xhr.open.apply(xhr, open);

    var header;
    for (header in headers) {
      xhr.setRequestHeader(header, headers[header]);
    }

    xhr.send();
  }

  function update(id) {
    return function(error, data) {
      var el = window[id];
      if (error) {
        el.innerHTML = 'error';
      } else if (data && data['Authorization']) {
        el.innerHTML = data['Authorization'];
      } else {
        el.innerHTML = 'missing';
      }
      el.classList.add('in');
      setTimeout(el.classList.add.bind(el.classList, 'out'));
    }
  }

  <%- JSON.stringify(VERBS) %>.forEach(function(method) {
    <%- JSON.stringify(REDIRECTS) %>.forEach(function(status) {
      xhr(
        method,
        'initial?status=' + status,
        {'Authorization': 'intact'},
        update(method + status)
      );
    });
  });
</script>

<section>
  <h1>Redirect <code>Authorization</code> headers</h1>
  <p>
    For each entry in the table below, this page issues an AJAX request with
    the specified HTTP verb and a non-null <code>Authorization</code>
    header.
  </p>
  <p>
    The server will then respond with a redirect with the specified HTTP
    status, and the destination page (on the same origin) will reflect the
    value of the <code>Authorization</code> header, which is included then
    listed in the table.
  </p>
  <p>
    This system exists to detect discrepancies in header handling upon
    redirects, particularly across different browsers and operating systems.
  </p>
  <table>
    <% VERBS.forEach(function(verb) { %>
      <thead>
        <tr>
          <td colspan="2">GET</td>
        </tr>
      </thead>
      <tbody>
        <% REDIRECTS.forEach(function(status) { %>
          <tr>
            <td><%= status %></td>
            <td>
              <code id="<%= verb + status %>" class="highlight">waiting</code>
            </td>
          </tr>
        <% }) %>
      </tbody>
    <% }) %>
  </table>
</section>
