<% layout('../common/layout') %>

<section>
  <% for (var i = 0; i < 10; i++) { %>
    <img class="fit" src="http://effigis.com/wp-content/themes/effigis_2014/img/RapidEye_RapidEye_5m_RGB_Altotting_Germany_Agriculture_and_Forestry_2009MAY17_8bits_sub_r_2.jpg?i=<%= i %>">
    <img class="fit" src="http://effigis.com/wp-content/uploads/2015/02/Airbus_Pleiades_50cm_8bit_RGB_Yogyakarta.jpg?i=<%= i %>">
    <img class="fit" src="http://effigis.com/wp-content/themes/effigis_2014/img/GeoEye_GeoEye1_50cm_8bit_RGB_DRA_Mining_2009FEB14_8bits_sub_r_15.jpg?i=<%= i %>">
  <% } %>
</section>
