<% layout('../common/layout') %>

<section>
  <h1>Common crashing bugs</h1>
  <p>
    Choose a page below to force a common crashing bug:
  </p>
  <p>
    <a href="bigImages">/bigImages</a><br>
    <a href="outOfMemory">/outOfMemory</a><br>
    <a href="scaledGifs">/scaledGifs</a><br>
  </p>
</section>
