<% layout('../common/layout') %>

<section>
  <% for (var i = 0; i < 10; i++) { %>
    <img class="fit" src="http://assets.bwbx.io/images/ifYCb5MFn3xs/v1/-999x-999.gif?i=<%= i %>">
    <img class="fit" src="http://assets.bwbx.io/images/iNgbX8rRDhPY/v1/-999x-999.gif?i=<%= i %>">
    <img class="fit" src="http://assets.bwbx.io/images/iDMyu.83xq7E/v1/-999x-999.gif?i=<%= i %>">
    <img class="fit" src="http://i.imgur.com/TqWUP0n.gif?i=<%= i %>">
  <% } %>
</section>
