<% layout('../common/layout') %>

<section>
  <h1>Synthetic response generator</h1>
  <% if (error) { %>
  <p>
    <em>It looks like you did something wrong.</em>
  </p>
  <% } %>
  <p>
    This system will generate a response after a specified delay with a
    synthetic HTTP status.
  </p>
  <p>
    To construct a synthetic response, create a path where each segment is a
    status code. The codes will be evaluated left-to-right until a terminal
    code is encountered.
  </p>
  <p>
    To add a delay between responses, pass a <code>wait</code> time, in
    milliseconds, as a query parameter.
  </p>
  <h2>Examples</h2>
  <p>
    <a href="200">/200</a><br>
    <a href="404">/404</a><br>
    <a href="503?wait=2000">/503?wait=2000</a><br>
    <hr>
    <a href="301/200">/301/200</a><br>
    <a href="301/302/200">/301/302/200</a><br>
    <a href="301/302/200?wait=5000">/301/302/200?wait=5000</a><br>
  </p>
</section>
